.app__content {
  padding: 60px;
}
.announcements__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #111111;
  padding-bottom: 20px;
  border-bottom: 2px solid #111111;
  letter-spacing: 0.2px;
  position: relative;
}
.edit_btn,
.update__text,
.close__texteditor {
  opacity: 0;
  cursor: pointer;
  margin-right: 15px;
  position: absolute;
  width: 100px;
  height: 50px;
}
.update__text,
.close__texteditor {
  position: static;
}
.announcements__text{
  display: flex;
  position: relative;
}
.announcements__title:hover .edit_btn {
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
}
.edit_btn:hover,
.update__text:hover,
.close__texteditor:hover {
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;
}
