.content__text-block{
  width: 700px;
  height: 100%;
  padding: 20px 10px 50px 30px;
  text-align: left;
}
.announcements__text{
  font-size: 14px;
  height: 500px;
  color: #333333;
  margin-bottom: 30px;
  width: 100%;
  word-wrap: break-word;
  overflow-y: scroll;
}
